./app/.phpunit.cache
./app/node_modules
./app/public/build
./app/public/hot
./app/public/storage
./app/storage/*.key
./app/vendor
./app.env
./app.env.backup
./app.env.production
./app.phpunit.result.cache
./appHomestead.json
./appHomestead.yaml
./appauth.json
./appnpm-debug.log
./appyarn-error.log
./app/.fleet
./app/.idea
./app/.vscode
./gitignore
./Jenkisfile
